/* 
* para compilar: navegar até a pasta styles e rodar o seguinte comando:
*    sass --style compressed --watch ./scss/style.scss:./css/style.css 
*/

/* variáveis */
@import 'variables.scss';


/* geral */
@import 'geral.scss';


/* background da area principal */
@import 'area-principal.scss';


/* header e menus */
@import 'header-menus.scss';


/* showcase */
@import 'showcase.scss';


/* chamada */
#chamada {
    
    background-color: #552f37;
    padding: $padding-middle 0;
    h3 {
        color: $color-primary-light;
    }
    h4 {
        color: white;
    }
    h6 {
        color: #bab7b7;
    }
}


/* versoes */
@import 'versoes.scss';


/* nossos carros */
@import 'nossos-carros.scss';


/* rodapé */
@import 'rodape.scss';


/* animações */
@import 'animacoes.scss';