/* COLOR */
$color-primary-base: 				  #b71d3e;
$color-primary-dark: 				    darken($color-primary-base, 12%);
$color-primary-light: 			        lighten($color-primary-base, 15%);

$color-secondary-base: 			        #4eac1b;
$color-secondary-dark: 			        darken($color-secondary-base, 12%);
$color-secondary-light: 		        lighten($color-secondary-base, 15%);

$color-gray-base:                       #242424;
$color-gray-darker:                     #2a2a2a;
$color-gray-dark:                       #797979;
$color-gray:                            #c6c6c6;
$color-gray-light:                      #eaeaea;
$color-gray-lighter:                    #f4f4f4;
$color-bluish-gray:                 	#273341;
$color-white:        		    		#fff;
$color-black:        		    		#1c1c1c;
$color-darkness: 						#141518;

$color-success:         		        #2d9c5d;
$color-info:            		        #5bc0de;
$color-warning:         	        	#FFA628;
$color-danger:          		        #d9534f;

$color-flickr: 							#FF0084;
$color-github: 							#000;
$color-linkedin: 						#007bb6;
$color-pinterest: 				    	#cb2027;
$color-skype: 							#00aff0;
$color-behance: 						#000;
$color-facebook: 						#3c599f;
$color-foursquare: 				    	#1cafec;
$color-google:			 				#cf1717;
$color-instagram: 				    	#2a5b83;
$color-lastfm: 							#d21309;
$color-steam: 							#000;
$color-vine: 							#00a478;
$color-wordpress: 					    #21759a;
$color-yahoo: 							#572c73;
$color-soundcloud:			 		    #f7620e;
$color-vimeo: 							#1ab7ea;
$color-spotify: 						#1ed760;
$color-twitter: 						#33ccff;
$color-whatsapp: 						#179653;
$color-youtube: 						#ce1525;
$color-telegram: 						#0088cc;

$color-background-base:                 #2a2a2a;
$color-background-dark: 		        darken($color-background-base, 8%);
$color-background-light: 		        lighten($color-background-base, 15%);

$color-font:							$color-white;

$color-footer-base: 				    $color-gray-darker;
$color-footer-darker: 				    darken($color-footer-base, 15%);
$color-footer-dark: 				    darken($color-footer-base, 8%);
$color-footer-light: 				    lighten($color-footer-base, 25%);
$color-footer-lighter: 				    lighten($color-footer-base, 45%);

/* FONT */
$font-family-base: 						'Open Sans', sans-serif;
$font-family-secondary: 				'Open Sans', sans-serif;

$font-size-base:                       	14px;
$font-size-small:                     	12px;
$font-size-wee:                      	10px;
$font-size-large:                   	ceil($font-size-base * 1.25);		// 18px
$font-size-h1:                       	floor($font-size-base * 2.6);		// 36px
$font-size-h2:                       	floor($font-size-base * 2.15);	    // 30px
$font-size-h3:                      	ceil($font-size-base * 1.7);		// 24px
$font-size-h4:                        	ceil($font-size-base * 1.25);		// 18px
$font-size-h5:            	            ceil($font-size-base * 1.125);	    // 16px
$font-size-h6:            	            ceil($font-size-base * 0.85);		// 12px

$font-weight-thin: 					    100;
$font-weight-extra-light: 	            200;
$font-weight-light: 				    300;
$font-weight-normal: 				    normal;
$font-weight-medium: 				    500;
$font-weight-semi-bold: 		        600;
$font-weight-bold: 					    700;
$font-weight-extra-bold: 		        800;
$font-weight-ultra-bold: 		        900;

$text-color:        				    $color-gray-darker;
$link-color:            		        $color-primary-base;
$link-hover-color:      		        $color-primary-dark;
$link-hover-decoration: 		        underline;

$padding-tiny:							5px;
$padding-wee:                           10px;
$padding-small:							15px;
$padding-base:							20px;
$padding-middle: 						25px;
$padding-extra: 						30px;
$padding-large: 						35px;
$padding-big: 							40px;

$margin-tiny:							5px;
$margin-wee:							10px;
$margin-small:							15px;
$margin-base:							20px;
$margin-middle: 						25px;
$margin-extra: 							30px;
$margin-large: 							35px;
$margin-big: 							40px;

$z-index-force:							9999;
$z-index-aheader:						25;
$z-index-ahead:							20;
$z-index-base:							15;
$z-index-behind:						10;
$z-index-behinder:					    5;
$z-index-background: 				    0;

$border-radius: 						5px;
$border: 								1px solid $color-gray-light;

$time-delay: 							0.05s;
$time-duration: 						0.20s;

@function double($value) {
	@return $value * 2;
};

@function triple($value) {
	@return $value * 3;
};

@function half($value) {
	@return $value / 2;
};

@function tenth($value) {
	@return $value / 10;
};


/* minhas */
$cinza-70: rgba(127, 127, 127, 0.7);
$branco-70: rgba(255, 255, 255, 0.7);

$slide-animation-overshoot: -50px;
$slide-animation-initial-translation: 400px;

$animation-default-duration: 0.5s;
$slide-animation-delay: 0.25s;

$linear: linear;
$ease-in: ease-in;
$ease-out: ease-out;
$ease-in-out: ease-in-out;

$default-timing-function: $ease-in-out;

$link-default-decoration: none;
$footer-link-default-decoration: underline;

/* geral */

/* remoção das margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $font-family-base;
}

/* tamanho de fonte padrão */

html, body {
    font-size: $font-size-base * 0.8;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

/* utilidades */

.carousel-inner .row .col-2 img.img-fluid {
    border: 1px solid blue;
}

.bt-text-white {
    color: white !important;
}

.bt-transparent-background {
    background-color: transparent;
}

.bt-white-border {
    border: 2px solid white;
}

.bt-red-border {
    border: 2px solid red;
}

.bt-green-border {
    border: 2px solid green;
}

.bt-blue-border {
    border: 2px solid blue;
}

.bt-purple-border {
    border: 2px solid purple;
}

.bt-d-flex-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bt-centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 9 {

    .bt-lightened-text-#{$i} {
        color: rgba(255, 255, 255, tenth($i));
    }

    .bt-lightened-background-#{$i} {
        background-color: rgba(255, 255, 255, tenth($i));
    }



    .bt-darkened-text-#{$i} {
        color: rgba(0, 0, 0, tenth($i));
    }

    .bt-darkened-background-#{$i} {
        background-color: rgba(0, 0, 0, tenth($i));
    }

}


.bt-overflow-horizontal {
    overflow-x: visible;
    overflow-y: hidden;
}

.bt-overflow-vertical {
    overflow-x: hidden;
    overflow-y: visible;
}

.bt-absolute {
    position: absolute;
}

.bt-ahead {
    z-index: 1;
}

/* background da area principal */

#main-background {
    position: relative;
}

#main-background::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color-gray;
    background-image: url('../../images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
}

// #main-background {
//     width: 100%; 
//     height: 100%; 
//     position: absolute; 
//     left: 0px; 
//     top: 0px; 
//     z-index: -1;
//     background-image: url('../../images/main.png');
//     filter: brightness(35%);
// }

/* header e menus */

header {

    padding-left: $padding-tiny;;
    padding-right: $padding-tiny;

    nav {

        img {
            height: 30px;
            width: auto;
        }

        #nav-content {
            margin: $margin-small 0;
            order: 1;
            justify-content: space-between;
            padding: 0;
    
            ul {
                justify-content: space-between;
            }
        }
    }



    ul li, nav #nav-content {
        font-size: 0.9em;
    }

    .menu-header {

        color: white;

        a {
            text-decoration: $link-default-decoration;
        }

            
        .menu-list {
            position: absolute;
            z-index: 1;
            max-width: 350px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform $time-duration $time-delay $default-timing-function;
            background-color: white;
    
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            margin: $margin-tiny $margin-wee 0 $margin-wee;

            li {
                
                transition: background-color $time-duration $time-delay $default-timing-function;
                padding: $padding-small;

                a {
                    text-decoration: $link-default-decoration;
                    color: $color-black;
                    h6 {
                        font-weight: $font-weight-extra-bold;
                        margin: 0;
                    }
                    img {
                        margin-bottom: $margin-wee;
                    }
                }

            }

            li:hover {
                background-color: $color-gray;
            }

        }

        #menu-veiculos {
            width: 265px;
            max-height: 270px;

            img {
                width: 65px;
                height: auto;
            }

            h6 {
                font-size: $font-size-h6;
                font-weight: $font-weight-extra-bold;
                color: $color-gray-darker;
            }
        }

        #menu-vendas {
            width: 150px;
            height: 190px;

            h6 {
                font-size: 12px !important;
                font-weight: $font-weight-normal;
            }
        }

    }
    
    .menu-header:hover {
        font-weight: 900;
    
        .menu-list {
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
        }
    }

    #menu-telefones-header {
        border: 2px solid white;
        padding: $padding-tiny;
        color: white;

        a {
            margin-left: $margin-wee;
            margin-right: $margin-wee;
        }
    }


    #menu-telefones-header:hover {

        $opacity: 0.45;

        background-color: rgba(255, 255, 255, $opacity);
        border-color: rgba(0, 0, 0, $opacity);

        a, i {
            color: $color-black;
        }
    }

    #menu-telefones {

        width: 260px;

        color: $color-gray-darker;

        display: flex;
        flex-direction: column;

        li {

            padding: 0;

            button.submenu-header {
                padding: 0;
                margin: 0;
                width: 100%;
                border: none;
                outline: none;
                font-size: 14px;

                h6, i {
                    margin: $margin-wee;
                    font-size: $font-size-h6;
                    color: $text-color;
                    font-weight: $font-weight-bold;
                    transition: color $time-duration $time-delay $default-timing-function;
                }
                
            }

            button.submenu-header.clicado {
                h6, i {
                    color: $color-primary-base;
                    font-weight: $font-weight-ultra-bold;
                }
            }
            
            ul {

                background-color: $color-primary-base;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform $time-duration $time-delay $default-timing-function;
            
                li {
                    padding: $padding-small $padding-base;
                }

                a {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 100%;

                    h6 {
                        
                        font-size: 12px;
                        font-weight: $font-weight-bold;
                        color: $color-white;
                        margin-bottom: 0;

                        span {
                            font-weight: $font-weight-light;
                        }

                    }
                }
            }
        }

        li:hover {

            button {
                h6, i {
                    color: $color-primary-base;
                }
            }

            ul {
                transform: scaleY(1);
            }
        }

    }
}

/* showcase */

#showcase {
    margin-top: $margin-big;
}

/* coluna esquerda */
#simular-financiamento {

    color: white;
    padding-top: $padding-base;
    padding-bottom: $padding-base;
    margin-bottom: $margin-big;
    margin-top: triple($margin-base);

    input, input::placeholder {
        color: white;
    }

    input, select {
        outline: none;
    }

    input[type="number"]::-webkit-outer-spin-button, 
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input.form-input, select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        padding: $padding-wee;
        background-color: transparent;
        border-radius: $border-radius;
        border: 1px solid white;
        transition: box-shadow $time-duration $time-delay $default-timing-function;
    }

    .input-radio, 
    .input-check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 2px solid #ccc;
        margin-right: $margin-tiny;
    }

    .input-radio {
        border-radius: 50%;
    }


    input.form-input:focus, 
    input.form-input:active,
    input.form-input:invalid, 
    select.form-input:focus,
    select.form-input:active,
    .input-radio:checked, 
    .input-check:checked {
        -webkit-box-shadow: 0px 0px 15px #ddd;
        box-shadow: 0px 0px 15px #ddd;
    }    

    .input-radio:checked, 
    .input-check:checked {
        background-color: white;
    }


}

#simular-button {
    display: block;
    width: 100%;
    padding: $padding-wee $padding-large;
    margin: $margin-base 0 $margin-extra 0;
    color: white;
    font-weight: $font-weight-bold;
    background-color: $color-primary-base;
    border: 2px solid $color-primary-base;
    border-top: 2px solid $color-primary-light;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 2px 5px #111;
    box-shadow: 0px 2px 5px #111;
}

/* coluna direita */
#main-anuncio {
    order: 0;
    color: white;
    margin-bottom: $margin-big;

    h1 {
        margin-bottom: $margin-tiny;
    }

    h4 {
        margin-bottom: $margin-extra;
    }

    small {
        text-align: justify;
    }
}

/* animações */

@keyframes slideToOriginAndFadeIn {
    70% {
        opacity: 1;
        transform: translateX($slide-animation-overshoot);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.animated-slide-fade-in {
    transform: translateX($slide-animation-initial-translation);
    opacity: 0;
    animation: slideToOriginAndFadeIn $animation-default-duration $slide-animation-delay $default-timing-function 1 forwards;
}

.animated-fade-in {
    opacity: 0;
    animation: fadeIn $animation-default-duration ($animation-default-duration + $slide-animation-delay) $default-timing-function 1 forwards;
}

/* chamada */

#chamada {

    background-color: #552f37;
    padding: $padding-middle 0;
    h3 {
        color: #d33c5c;
    }
    h4 {
        color: white;
    }
    h6 {
        color: #bab7b7;
    }
}

/* versoes */

#versoes {

    position: relative;

    hr {
        background-color: gray;
        width: 100%;
    }

    .imagem-carro {
        max-width: 400px;
        height: auto;
        margin: auto 0;
    }

    button {
        color: $cinza-70;
        border: none;
        background-color: transparent;
        font-size: 1.25em;
        outline: none;
        transition: 
            border 0.2s $default-timing-function,
            color 0.2s $default-timing-function;
    }

    button:not(.active):hover {
        color: $branco-70;
    }

    button.active {
        color: white;
        cursor: initial;
    }
}

#versoes::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #353535;
    background-image: url('../../images/background-versoes.jpg');
    background-size: 100% 100%;
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
}

#lista-modelos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    hr {
        align-self: stretch;
    }

}

#tabela-infos {
    margin-top: $margin-middle;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: visible;
}

.item-serie {
    border-radius: 15px;
    padding: $padding-tiny $padding-small;
    background-color: $color-primary-base;
    display: inline-block;
    color: white;
    margin: $margin-tiny;
    font-size: 0.85em;
    line-height: 0.9em;
    font-weight: $font-weight-semi-bold;
}


/* nossos carros */

#nossos-carros {
    padding: $padding-big 0;

    h3 {
        text-align: center;
        color: #2a2a2a;
    }

    hr {
        width: 100px;
        margin: $margin-middle auto $margin-big auto;
        background-color: $color-gray;
    }
}


/* rodapé */

footer {

    color: $color-footer-light;
    background-color: $color-footer-base;

    .container {
        padding-top: $padding-extra;
        padding-bottom: $padding-base;
    }

    a {
        text-decoration: $footer-link-default-decoration;
        margin-left: $margin-tiny;
        margin-right: $margin-tiny;
    }


    a, i {
        color: $color-footer-light;
        transition: color $time-duration $default-timing-function;
    }

    a:hover, i:hover {
        color: $color-footer-lighter;
    }

}

#area-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    order: 1;

    padding-top: $padding-wee;
    padding-bottom: $padding-wee;
    
    img {
        margin-top: $margin-extra;
    }

}


/* responsividade */

@media (min-width: 576px) {
    html, body {
        font-size: $font-size-base * 0.9;
    }
}


@media (min-width: 768px) {

    html, body {
        font-size: $font-size-base * 1;
    }

    #lista-modelos {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    #simular-financiamento {
        margin-top: triple($margin-big);
    }

}

@media (min-width: 992px) {

    header {

        padding-top: $padding-small;

        nav #nav-content {
            margin: 0;
            order: 0;
            justify-content: space-around;

            ul {
                justify-content: space-around;
            }
        }

        .img-header {
            height: auto;
            width: auto;
        }
    }

    #lista-modelos {
        flex-direction: column;
        align-items: flex-end;
    }
        
    #main-anuncio {
        order: 1;
        padding-top: $padding-base;
        padding-bottom: $padding-base;
    }

    #simular-financiamento {
        margin-top: 0
    }

    #area-central {
        order: 0;
        padding-top: 0;
        padding-bottom: 0;
        
        img {
            margin-top: $margin-base;
        }
    
    }
}

@media (max-width: 992px) {

    #versoes {

        .imagem-carro {
            max-width: 750px;
        }

        #lista-modelos {
            button:not(.active) {
                border-bottom: 1px solid $cinza-70;
            }

            button:not(.active):hover {
                border-bottom: 1px solid $branco-70;
            }

            button.active {
                border-bottom: 1px solid white;
            }
        }
    }
}